version: 2.1
orbs:
    aws-cli: circleci/aws-cli@0.1.20
jobs:
  test:
    docker:
      - image: circleci/node:8.0
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Run tests
          command: npm test
      - store_artifacts: 
          path: test-results.xml
          prefix: tests
      - store_test_results:
          path: test-results.xml
      - persist_to_workspace:
            root: .
            paths: .
  deploy:
    docker:
      - image: circleci/python:3-node
    steps:
      - attach_workspace:
          at: .
      - aws-cli/setup
      - run:
          name: Install awscli
          command: sudo pip install awscli
      - run:
          name: Upload source files S3
          command: |
            aws s3 cp dist/unidays-offer-tracking.js s3://$CDN_BUCKET_NAME/unidays-offer-tracking.js
            aws s3 cp dist/unidays-offer-tracking.min.js s3://$CDN_BUCKET_NAME/unidays-offer-tracking.min.js
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
      - run:
          name: Publish package
          command: npm publish

workflows:
  version: 2
  master-push:
    jobs:
      - test:
          filters:
            branches:
              only: master
      - deploy:
          name: deploy
          requires:
            - test